.main-container {

    .body-container {
        // height: 100%;
    overflow: visible !important;

        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        box-sizing: border-box;
        background-color: #fafafa;
    }
}