.main-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: #fafafa;

    .body-container {
        height: 100%
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        box-sizing: border-box;
        background-color: #fafafa;
    }
}