.main-container {
    display: flex;
    justify-content: space-between;

    .content-container {
        max-width: 952px;
        display: block;
        width: 500px;
        border: 1px solid red;
    }
}