.system-container {
    width: 100%;
    background-color: #fff;

    .system-content {
        max-width: 1240px;
    display: flex;
    justify-content: space-between !important;
    padding-top: 80px;
    background-color: white !important;
    margin: 0 auto;
    }
}