.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px 0 HSL(0deg 0% 71% / 50%);
    z-index: 1;
    
    .content-right {
        .toggle-language {
            display: flex;
            align-items: center;
        }

    }
}