:root {
    --first-color: #1a73e8;
    --input-color: #80868b;
    --border-color: #DADCE0;
}


.modal-user-container {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    .form-title {
        font-weight: 400;
        margin-bottom: 32px;
    }
}