.users-container {
  width: 952px;
  

  .users-table{
    position: relative;
    padding: 8px 16px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 8px RGB(0 0 0 / 15%);
    box-shadow: 0 2px 8px RGB(0 0 0 / 15%);
  }
}

