.users-container {
    max-width: 952px;

    .users-table {
        width: 100%;
        position: relative;
        padding: 8px 16px;
        margin-bottom: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 0 2px 8px RGB(0 0 0 / 15%);
        box-shadow: 0 2px 8px RGB(0 0 0 / 15%);

        .users-table-content {
            width: 500px;
            .users-table-SideBar {
                border-bottom: 1px solid #eee;
            }

            .users-table-row {
                height: 50px;

                td {
                    button {
                        width: 50px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
