.movie-manage {
    width: 940px;
    margin-right: 10px;

    .movie-table {
        width: 100%;
        position: relative;
        padding: 8px 16px;
        margin-bottom: 100px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 0 2px 8px RGB(0 0 0 / 15%);
        box-shadow: 0 2px 8px RGB(0 0 0 / 15%);

        .gelpCx {
            overflow-y: visible;
            max-height: 500px;
            
        }

        button {
            width: 30px;
        }
    }
}