.movie-manage {
    max-width: 932px;

    .movie-table {
        width: 100%;
        position: relative;
        padding: 8px 16px;
        margin-bottom: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        -webkit-box-shadow: 0 2px 8px RGB(0 0 0 / 15%);
        box-shadow: 0 2px 8px RGB(0 0 0 / 15%);

        button {
            width: 30px;
        }
    }
}